<!DOCTYPE html>
<html>
<head>
  <title>Railgun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand highlight">
          <a href="/">RailGun Community</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TDD / BDD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GitFlow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Deploy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CoffeeScript</a>
        </li>
        <% unless devise_controller? %>
        <% if user_signed_in? %>
        <li><%= link_to 'Log out',
        destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
        <% end %>
        <li class="highlight">
          <a class="nav-linkpull-xs-right" href="/questions/new">Ask Question</a>
        </li>
        <li>
          <%= render 'search/form' %>
        </li>
      </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="topcorner">
          <%= button_to 'Ask Question', new_question_path, method: :get, class: "btn btn-primary" %>
        </div>
      <div class="container-fluid page-content-body">
        <div class="row">
          <div class="col-lg-12" style="word-wrap: break-word;">
            <% if notice.present? %>
              <p class="notice bg-info"><%= notice %></p>
            <% end %>
            <% if alert.present? %>
              <p class="alert bg-info"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
